body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(131, 220, 255, 0.29);
  overflow: hidden;
  font-family: system-ui;
  font-family: 'Poppins';
}

.clearfix {
  clear: both;
}

.logo {
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.logo span {
  color: #000000;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(253, 147, 108, 0.874);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
  box-shadow: 1px 0px 1.2px 0px #e3e3e3;
}

.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: rgba(243, 127, 85, 0.874);
  color: black;

  transition: .3s;
}

.sidenav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}

.head {
  padding: 20px;
}

.col-div-3 {
  width: 25%;
  float: left;
}

.box {
  width: 85%;
  height: 100px;
  margin-left: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 0px 36px -3px #00000026;
  margin-bottom: 30px;
}

.box p {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  display: inline-block;
}

.box p span {
  font-size: 20px;
  font-weight: 400;
  color: #818181;
}

.icon {
  font-size: 40px !important;
  float: right;
  margin-top: 20px;
  color: rgb(184 191 234);
  padding-right: 10px;
}

.box a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.box a:hover {
  text-decoration: none;
  color: rgba(243, 127, 85, 0.874);
  font-size: 30px;
}

.patientDetails {
  margin-top: 5rem;
}

.patientDetails h1 {
  margin-bottom: 1rem;
  color: rgb(184 191 234);
}

.patientBox {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 0px 36px -3px #00000026;
  padding-left: 5px;
  font-size: 17px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: rgba(253, 147, 108, 0.874);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

#hora {
  font-size: 30px;
}

.col-div-8 {
  width: 70%;
  float: left;
}

.col-div-4 {
  width: 30%;
  float: left;
}

.content-box {
  padding: 20px;
}

.content-box p {
  margin: 0px;
  font-size: 25px !important;
  color: rgb(172, 180, 231);
  font-weight: 700;
}

.content-box p span {
  float: right;
  background-color: #000000;
  padding: 3px 10px;
  font-size: 15px;
}

.box-8,
.box-4 {
  width: 95%;
  background-color: #ffffff;
  height: 330px;

}

.nav2 {
  display: none;
}

.box-8 {
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td,
th {
  text-align: left;
  padding: 15px;
  color: #000000;
  border-bottom: 1px solid #00000040;
}

.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: rgba(253, 147, 108, 0.874);
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rgb(184 191 234);
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}